html {
    font-size:14px;
}

/*
header {
    width:100%;
    font-size:1.2em;
    text-align:justify;
}
header .logo {
    display:inline-block;
    font-size:2em;
}
header ul.nav {
    display:inline-block;
    list-style:none;
    font-size:1.4rem;
}
.nav li {
    display:inline-block;
}
header::after {
    display: inline-block;
    content:'';
    width:100%;
} */

* {
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: #efefef;
}
header {
    padding:6px;
    background-color:navy;
    color:#fff;
    width:100%;
    display:flex;
    flex-direction: row;
    /* 쌓는 방향과 평행으로 어떻게 쌓을 것인가? */
    justify-content: space-between;
    /* justify-content: space-between; */
    /* 쌓는 방향과 수직으로 어떻게 쌓을 것인가? */
    align-items:center;
    font-size:1.2em;
}
header .logo {
    font-size:2em;
}
header ul.nav {
    display:flex;
    list-style:none;
    font-size:1.4rem;
}
header .material-icons {
    display:none;
}
header #menu-mobile {
    display:none;
}
@media(max-width:400px) {
    header {
        position: relative;
    }
    header ul.nav {
        display:none;
    }
    header .material-icons {
        display:block;
    }
    #menu-mobile.hide {
        display:none;
    }
    #menu-mobile {
        background-color:rgba(0,0,0,.6);
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0
    }
    #menu-mobile ul {
        margin:0;position: absolute;
        height:100%;right:0;width:160px;
        padding:0;
        background-color:#fff;
        color:#000;
        list-style: none;
    }
    #menu-mobile ul li {
        padding:12px;
    }
}
ul.nav li {
    margin-left:20px;
}

.books > div::after {
    clear: both;
    content:'';
    display:block
}
.book{
  width: 20%;
  margin:0 2.5%;
  float:left;
  background-color:#fff;
  border: 1px solid #d0d0d0;
  box-shadow: 4px 4px 4px rgba(0,0,0,.6) 
}
.book .area-img {
    position:relative;
}
.book img {
    width:100%
}
.book .area-img .overlay {
    opacity: 0;
    transition:0.3s ease all;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background-color:rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.book .area-img:hover .overlay {
    opacity: 1;
}
.book button {
    background-color:transparent;
    border:none;
    outline:none;
    color:#fff;
    cursor: pointer;
}
.book button:hover {
    color:#ffd5af;
}
.book h4,
.book p {
    padding:0 12px
}
@media(max-width:400px) {
    .book{
      width: 50%;
      float:left;
    }
}

.book p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
